<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!-- Top menu item -->
    <menuitem name="Program"
              id="program_main_menu"
              web_icon="program,static/description/icon.png"
              sequence="52"/>
    

    <menuitem action="dashboard_action_view"
              id="dashboard_menu_mande_id"
              name="Dashboard"
              parent="m_and_e_main_menu"
              sequence="1"/>

    <menuitem
            id="strategic_plan_id"
            name="SP"
            parent="m_and_e_main_menu"
            sequence="2"
            groups="m_and_e.administrator_access_group_id,m_and_e.program_manager_access_group_id,m_and_e.head_of_operations_manager_access_group_id,m_and_e.executive_director_access_group_id"
    />

    <menuitem
            id="strategic_plan_goal_id"
            name="Goal"
            parent="strategic_plan_id"
            action="strategic_plan_goal_action_view"
            sequence="1"/>

    <menuitem
            id="strategic_plan_outcome_id"
            name="Outcome"
            parent="strategic_plan_id"
            action="sp_outcomes_action_view"
            sequence="2"/>
    <menuitem
            id="strategic_plan_output_id"
            name="Output"
            parent="strategic_plan_id"
            action="sp_output_indicators_action_view"
            sequence="3"/>

    <!--    <menuitem-->
    <!--            id="projects_menu"-->
    <!--            name="Projects"-->
    <!--            parent="m_and_e_main_menu"-->
    <!--            action="m_and_e.projects_views_action_view"-->
    <!--            sequence="3"/>-->

    <!--    <menuitem name="Project"-->
    <!--              id="menu_main_pm"-->
    <!--              groups="group_project_manager,group_project_user"-->
    <!--              web_icon="project,static/description/icon.png"-->
    <!--              sequence="3"/>-->
    <!--    <menuitem action="project.open_view_project_all"-->
    <!--              id="project.menu_projects"-->
    <!--              name="Projects"-->
    <!--              parent="project.menu_main_pm"-->
    <!--              sequence="3"/>-->

    <menuitem action="project.open_view_project_all"
              id="project.menu_projects"
              name="Projects"
              parent="m_and_e_main_menu"
              sequence="3"/>

    <!--    M and E part -->
    <menuitem name="M &amp; E"
              id="m_and_e_main_menu_part"
              parent="m_and_e_main_menu"
              sequence="4"
              groups="m_and_e.administrator_access_group_id,m_and_e.program_manager_access_group_id,m_and_e.head_of_operations_manager_access_group_id,m_and_e.executive_director_access_group_id"
    />

    <menuitem
            id="organization_goal_menu"
            name="Goals"
            parent="m_and_e_main_menu_part"
            action="m_and_e.organization_goal_action_view"
            sequence="1"/>

    <menuitem id="outcome_menu_id"
              name="Outcome"
              parent="m_and_e_main_menu_part"
              action="outcomes_action_view"
              sequence="2"/>

    <menuitem id="output_menu_id"
              name="Output"
              parent="m_and_e_main_menu_part"
              action="output_indicators_action_view"
              sequence="3"/>

    <!--         Activities menu-->
    <!--    <menuitem id="activities_root_menu"-->
    <!--              name="Activities"-->
    <!--              parent="m_and_e_main_menu"-->
    <!--              action="mande_project_activities_views_action_view"-->
    <!--              sequence="7"/>-->

    <menuitem name="Activities/Tasks"
              id="project.menu_project_management"
              parent="m_and_e_main_menu"
              action="project.action_view_task"
              sequence="7"
    />

    <!--        Event form menu starts-->
    <menuitem id="event_reporting_id"
              name="Event Reporting"
              parent="m_and_e_main_menu"
              action="event_reporting_action_view"
              sequence="8"
              groups="m_and_e.administrator_access_group_id,m_and_e.program_officers_access_group_id,m_and_e.program_manager_access_group_id,m_and_e.head_of_operations_manager_access_group_id,m_and_e.executive_director_access_group_id"
    />

    <!-- Reporting menus -->
    <menuitem id="project.menu_project_report" name="Reporting"
              groups="project.group_project_manager"
              parent="m_and_e_main_menu" sequence="9"/>

    <menuitem id="project.menu_project_report_task_analysis"
              name="Tasks Analysis"
              action="project.action_project_task_user_tree"
              parent="project.menu_project_report"
              sequence="1"/>


    <menuitem id="success_story_root_menu"
              name="Success Story"
              parent="m_and_e_main_menu"
              action="success_story_action_view"
              sequence="10"/>

    <!--         Configuration menu-->
    <menuitem id="configuration_root_menu"
              name="Configurations"
              parent="m_and_e_main_menu"
              groups="m_and_e.administrator_access_group_id,m_and_e.program_manager_access_group_id,m_and_e.head_of_operations_manager_access_group_id,m_and_e.executive_director_access_group_id"
              sequence="11"/>

    <menuitem id="indicators_menu_id"
              name="Indicators"
              parent="configuration_root_menu"
              action="indicators_action_view"
              sequence="1"/>

    <menuitem id="target_period_id"
              name="Target Period"
              parent="configuration_root_menu"
              action="target_period_action_view"
              sequence="2"/>


    <menuitem id="unit_menu_id"
              name="Unit"
              parent="configuration_root_menu"
              action="unit_action_view"
              sequence="3"/>


    <menuitem id="region_configuration_menu"
              name="Region &amp; District"
              parent="configuration_root_menu"
              action="region_action_view"
              sequence="3"/>

    <menuitem id="event_configuration_menu"
              name="Events"
              parent="configuration_root_menu"
              action="events_action_view"
              sequence="4"/>

    <menuitem id="sdg_configuration_menu"
              name="SDG"
              parent="configuration_root_menu"
              action="sdg_configuration_action_view"
              sequence="5"/>
    <menuitem id="national_strategy_configuration_menu"
              name="National Strategy Plan"
              parent="configuration_root_menu"
              action="national_strategy_plan_action_view"
              sequence="6"/>

    <menuitem action="project.open_view_project_all_config"
              id="project.menu_projects_config"
              name="Projects"
              parent="configuration_root_menu"
              groups="project.group_project_manager,project.group_project_user"
              sequence="7"/>

    <menuitem action="project.open_task_type_form"
              id="project.menu_project_config_project"
              name="Stages"
              parent="configuration_root_menu"
              sequence="7"/>

</odoo>

